.h1-titulo-piscinas{
  background: url(../img/fondo-piscina.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 6%;
  font-size: 40px;
  transition: all 0.5s;
  background-color: #f83b3b;
  width: 100%;
  height: 55px;
  text-align: center;
}

.h1-titulo-piscinas:hover{
  background: url(../img/FONDO-AZUL-MARINO.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descripcion-piscinas{
  width: 70%;
  line-height: 35px;

  margin: auto;
  text-align: justify;

}

.active-line-height{

margin-top: 1em;
}

li{
list-style: none;
}

/*------------------------CARDS GRID-----------------------*/
.container-grid{
  width: 70%;
  margin: auto;
  display: grid;
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 25px;
  /* height: 475px; */

  margin-top: 1em;
}

.cards{
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.image-section{
  height: 325px;
  background-color: red;
}

.cards .img-one{
  background-image: url(../img/piscinas/piscina-venecia-4.jpg);
  background-size: cover;
  background-position: center;
}

.cards .img-two{
  background-image: url(../img/piscinas/piscina-bahia.jpg);
  background-size: cover;
 
}

.cards .img-three{
  background-image: url(../img/piscinas/piscina-mancora-1.bmp);
  background-size: cover;
  background-position: center;
}

.cards .img-four{
  background-image: url(../img/piscinas/piscinas-cancun-1.bmp);
  background-size: cover;
  background-position: center;
}

.cards .img-four{
  background-image: url(../img/piscinas/piscinas-cancun-1.bmp);
  background-size: cover;
  background-position: center;
}

.cards .img-five{
  background-image: url(../img/piscinas/piscina-haway.bmp);
  background-size: cover;
  background-position: center;
}

.cards .img-six{
  background-image: url(../img/piscinas/piscina-olimpia.bmp);
  background-size: cover;
  background-position: center;
}

.cards .img-seven{
  background-image: url(../img/piscinas/piscina-atlantis.png);
  background-size: cover;
  background-position: center;
}

.cards .img-eight{
  background-image: url(../img/piscinas/piscina-caribe-III.jpeg);
  background-size: cover;
  background-position: center;
}

.cards .img-nine{
  background-image: url(../img/piscinas/piscina-visor-vidrio.png);
  background-size: cover;
  background-position: center;
}


.content{
  padding: 20px 10px;
  text-align: center;
}

.content h3{
  letter-spacing: 1px;
}

.p-dimensiones{
  margin-top: 0.5em;
}

.content a{
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  letter-spacing: 1.5px;
  display: inline-block;
  background-color: #166ee0;
  padding: 8px 15px;
}

.content a:hover{
  background-color: #47b5e7;
  
}

.button{
  margin-top: 1rem;
}

/*--------------------ACABA CARDS GRID--------------------*/

.container-maestro-1{
  width: 70%;
  margin: auto;
  justify-content: space-between;
  gap: 20px;
  z-index: 0;
  height: 750px;
  display: flex;
}

.container-active-2{
  width: 70%;
  margin: auto;
  justify-content: space-between;
  gap: 20px;
  z-index: 0;
  height: 750px;
  display: flex;
}

.titulo-piscina-1{
  text-align: center;
  margin-top: 30px;
  background: -webkit-linear-gradient(rgb(0, 153, 204),rgb(104, 186, 236));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}

.descripcion-piscina-promo{

  margin: auto;
  text-align: center;
  color: black;
  width: 50%;
  margin-top: 10px;
}

.container-piscina-1,.container-piscina-2,.container-piscina-3{
  margin-left: 1px;
  margin-top: 15px;
  width: 100%;
  max-width: 100%;
  border: 2px solid rgb(66, 66, 66);
  margin-bottom: 30px;
  border-radius: 20px;
  gap: 20px;
  flex-direction: column;
}

.img-piscina{
  margin-top: 20px;
  width: 100%;
  height: 350px;
}


.btn{
  display: block;
  position: relative;
  padding: 8px 40px;
  text-decoration: none;
  color: #0c0c0c;
  letter-spacing: 2px;
  margin-top: 15px;
  margin: auto;
  text-align: center;
  font-weight: 700;
  z-index: 0;
}

.btn-1{
  overflow: hidden;
  border: 3px solid #03cc57;
  z-index: 0;
  width: 80%;
  margin-top: 15px;
}


.btn-1::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: -200%;
  background-color: #03cc57;
  border-radius: 50%;
  transition: all 0.6s ease;
  z-index: -1;
}

.btn-1:hover:before{
  top: 0;
  border-radius: 0%;
}

.btn-comprar{
  color: black;
}

/*--------------------RESPONSIVE-------------*/
/*-------------DESCRIPCION PISCINAS SMART-----------------*/
@media (max-width: 1650px){

.container-maestro-1{
  margin-top: 5em;
  height: 600px;

}

.container-active-2{
  height: 600px;
}

.titulo-piscina-1{
  font-size: 22px;
}

.container-piscina-1,.container-piscina-2,.container-piscina-3{
  width: 40%;
}

.img-piscina{
  margin-top: 20px;
  width: 100%;
  height: 250px;
}

.btn{
  display: block;
  position: relative;
  padding: 8px 10px;
  text-decoration: none;
  color: #0c0c0c;
  letter-spacing: 2px;
  margin-top: 15px;
  margin: auto;
  text-align: center;
  font-weight: 700;
  z-index: 0;
}

.btn-1{
  overflow: hidden;
  border: 3px solid #03cc57;
  z-index: 0;
  width: 80%;
  margin-top: 15px;
}

}

.pie-pagina {
  
}

@media (max-width: 1380px){
  .container-maestro-1{
    margin-top: 5%;
    display: flex;
    width: 70%;
    height: 600px
  }

  .titulo-piscina-1{
    font-size: 20px;
  }

}


@media (max-width: 1220px){
  .container-maestro-1{
    height: 600px;
  }



  .container-piscina-1,.container-piscina-2,.container-piscina-3{
    height: 85%;
  }
    
  .img-piscina{
    margin-top: 20px;
    width: 100%;
    height: 200px;
  }

  .titulo-piscina-1{
    font-size: 18px;
  }

  .descripcion-piscina-promo{
    font-size: 15px;
    margin: auto;
    text-align: center;
    color: black;
    width: 50%;
    margin-top: 10px;
  }

  .btn{ 

    padding: 8px 10px;
    text-decoration: none;
    color: #0c0c0c;
    letter-spacing: 2px;
    margin-top: 15px;
    margin: auto;
    text-align: center;
    font-weight: 700;
    z-index: 0;
    font-size: 14px;
  }
  

  .btn-1{
    overflow: hidden;
    border: 3px solid #03cc57;
    z-index: 0;
    width: 80%;
 
    margin-top: 15px;
  }
  
}

@media (max-width: 580px){
  .container-grid{
    width: 70%;
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 25px;
    /* height: 475px; */
  
    margin-top: 1em;
  }
  
  .cards{
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  }
  
  .image-section{
    height: 300px;

  }


}