@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url("https://fonts.googleapis.com/css?family=Monoton");
/*--------------------------------SLIDERS------------------------------------*/
#container-slider
{
    position: relative;
    display: block;
    width: 100%;
    margin-top: 4.5em;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 65vh;
    min-height: 500px;
}



.container-fluid{
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero_heading h1 {
  margin-top: 1em;
  font-size: 40px;
  color: rgb(0, 0, 0);
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

#slider li {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}


#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.5em;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: #19b5fd;
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #009ee7;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

/*btn-temblor*/



/*-------------------------PRESENTACIÓN---------------------------*/


.presentacion{
    margin: auto;
    text-align: center;
    margin-left: 40px;
    height: 25%;
}

.Iam, .Iam-2 {
    padding: 2em 5em;
    font: normal 20px/50px Montserrat, sans-serif;
    color: #000000;
    width: 100%;
    height: 1000px;
    margin: 0;
    font-size: 40px;

    margin: auto;
    text-align: center;
  }
  
  
  .Iam{
    width: 1000px;
  }

   .parrafo-presentacion{
    display: block;
    margin-left: 75px;
   }
  
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
  
  }

  .Iam{

    margin-left: 0;
    margin-right: 0;
    margin: auto;
  }

  
  .Iam .innerIam {
    color: rgb(0, 157, 255);
    position: relative;
    margin-left: 15px;
   
  
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }

  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }

  /*-----------------------NUESTROS PRODUCTOS--------------------------*/
  .h1-nuestros-productos{
    font-family: "Monoton", Helvetica, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    width: 100%;
    height: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.3em;
  }

  .nuestros-productos{
    font-family: "Monoton", Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline;
    font-size: 28px;
    text-transform: uppercase;
    color: #000000;

  }

  

@supports (-webkit-background-clip: text) {
  .nuestros-productos {
    color: transparent;
    background: linear-gradient(7deg, #000000 50%, #4ca8ff 0);
    -webkit-background-clip: text;


  }
}


 /*------------------------NUESTRA ESPECIALIDAD-----------------------*/
 
.wrapper-novedades-1 {
    
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
  
  }
  
  
  
  .card-novedades{	
    width: 430px;
      height: 360px;
      display: flex;
      align-items: flex-end;
      padding: 2rem 1rem;
      position: relative;
    justify-content: space-between;
      transition: 0.5s all ease-in-out;
  
  }

  
  
  
  
  .card-novedades:hover {
      transform: translateY(-10px);
   
  }
  .card-novedades::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(13, 36, 63, 0.3), rgba(13, 36, 63, 1));
      z-index: 2;
      opacity: 0;
      transition: 0.5s all;
  
  }
  .card-novedades:hover::before {
      opacity: 1;
  }
  
  .card-novedades img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    
  
  }
  
  
  .card-novedades .info {

      position: relative;
      color: #fff;
      z-index: 3;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s all;
    padding: 10px;
  }
  .card-novedades:hover .info {
      opacity: 1;
      transform: translateY(0);
    
  }
  
  .card-novedades.info h1 {
      line-height: 40px;
      margin-bottom: 10px;
  }
  .card-novedades .info p {
      font-size: 15px;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
  }
  
  .h2-title-novedades{
    margin-bottom: 2.5px;
  }
  
  .info-descripcion{
    margin-top: 2px;
  }
  
  
  .container-btn{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }
  
  .btn{
    width: 120px;
    padding: 200px;
  
  }
  
  
  
  .card-novedades .info .btn {
      background: #fff;
      padding: 0.5rem 1rem;
      color: #000;
      font-size: 12px;
      cursor: pointer;
      border-radius: 20px;
      text-decoration: none;
      font-weight: bold;
      transition: .4s ease-in-out;
  }
  .card-novedades .info .btn:hover {
      background: #1e9ceb;
      color: #fff;
      box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
  }
  
 




 /*------------------------FOOTER-------------------------------------*/   
 .pie-pagina{
    width: 100%;
    background-color: #0a141d;
  
    bottom: 0;
    margin-top: auto;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1800px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
  }
  .pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }

  .box span a{
    color: #ffffff;
    text-decoration: none;
  }

  .box-active{
    margin-left: 2em;
  }

  /*video*/
.container-prueba{
  margin-top: 1em;
}
  video {
    padding: 2em;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
  }
  

/*-------------------------RESPONSIVE SLIDER--------------------------*/


@media screen and (max-width: 550px) {
  
  
}

@media screen and (max-width: 1024px){
   
    .presentacion{
        margin: auto;
        text-align: center;
        width: 100%;
        height: 17%;
       
    }

    .Iam, .Iam-2 {
        padding: 2em 5em;
        font: normal 20px/50px Montserrat, sans-serif;
        color: #393737;

        margin: 0;
        font-size: 22px;
        
        margin: auto;
        text-align: center;
      }

      .parrafo-presentacion{
        margin-left: 5px;
        margin-right: 0;
      }

      .Iam{
        width: 480px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
      }

      .Iam .innerIam{
        margin-left: -5px;
      }

     
    
}

@media screen and (max-width: 460px){
  #slider li {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
    width: 100%;
}


  .content_slider{
    margin-top: 3.5rem;
 
      padding: 15px 30px;
      color: #FFF;
      width: 100%;
      height: 100%;
  

  }

	.content_slider h2 {
    font-size: 12pt !important;
}
.content_slider p {
    font-size: 10pt !important;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
  font-size: 20pt;
}
#container-slider .arrowPrev{
  left: 15px;
}
#container-slider .arrowNext{
  right: 15px !important;
}
#slider{
  height: 200px;
  min-height: 200px;
}
#slider li .content_slider{
  padding: 10px 35px;
}
.btnSlider{
  padding: 10px 30px;
    font-size: 8pt;
}

.container-fluid{
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero_heading h1 {
  margin-top: 1em;
  font-size: 25px;
  color: rgb(0, 0, 0);
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}


  .wrapper-novedades-1 {
    margin-top: 10%;
    display: block;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 1.5%;
  }
  
  
  
  .card-novedades{	
    width: 430px;
    align-items: flex-end;
    padding: 2rem 1rem;
    position: relative;
    justify-content: space-between;
    transition: 0.5s all ease-in-out;
    margin: auto;
      
  }

  
  
  
  
  .card-novedades:hover {
      transform: translateY(-10px);
   
  }
  .card-novedades::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(13, 36, 63, 0.3), rgba(13, 36, 63, 1));
      z-index: 2;
      opacity: 0;
      transition: 0.5s all;
  
  }
  .card-novedades:hover::before {
      opacity: 1;
  }
  
  .card-novedades img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    
  
  }
  
  
  .card-novedades .info {

      position: relative;
      color: #fff;
      z-index: 3;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s all;
      padding: 10px;
      margin: auto;
  }
  .card-novedades:hover .info {
      opacity: 1;
      transform: translateY(0);
    
  }
  
  .card-novedades.info h2 {
      line-height: 40px;
      margin-bottom: 10px;
  }
  .card-novedades .info p {
      font-size: 15px;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
  }
  
  .h2-title-novedades{
    margin-bottom: 2.5px;
  }
  
  .info-descripcion{
    margin-top: 2px;
  }

  

    .parrafo-presentacion{
  
        margin-left: 0;
        margin-right: 0;
        font-size: 14px;
        width: 100%;
        
      }


}


/*--------------------------------RESPONSIVE NAV------------------------------------*/

@media (max-width: 900px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

/*-------------------------------RESPONSIVE CARDS-------------------------------*/
@media (max-width: 1900px){
    .card-novedades{
        margin-top: 1.5rem;
    }

}


@media (max-width: 1400px){
   
    

    .wrapper-novedades-1 {
        margin-top: 20px;
        display: block;
        width: 50%;
        margin: auto;
        text-align: center;
        margin-top: 1.5%;
      }
      
      
      
      .card-novedades{	
        width: 430px;
        height: 400px;
        align-items: flex-end;
        padding: 2rem 1rem;
        position: relative;
        justify-content: space-between;
        transition: 0.5s all ease-in-out;
        margin: auto;
          
      }

      
      
      
      
      .card-novedades:hover {
          transform: translateY(-10px);
       
      }
      .card-novedades::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(13, 36, 63, 0.3), rgba(13, 36, 63, 1));
          z-index: 2;
          opacity: 0;
          transition: 0.5s all;
      
      }
      .card-novedades:hover::before {
          opacity: 1;
      }
      
      .card-novedades img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        
      
      }
      
      
      .card-novedades .info {
    
          position: relative;
          color: #fff;
          z-index: 3;
          opacity: 0;
          transform: translateY(30px);
          transition: 0.5s all;
          padding: 10px;
          margin: auto;
      }
      .card-novedades:hover .info {
          opacity: 1;
          transform: translateY(0);
        
      }
      
      .card-novedades.info h2 {
          line-height: 40px;
          margin-bottom: 10px;
      }
      .card-novedades .info p {
          font-size: 15px;
          letter-spacing: 1.5px;
          margin-bottom: 20px;
      }
      
      .h2-title-novedades{
        margin-bottom: 2.5px;
      }
      
      .info-descripcion{
        margin-top: 2px;
      }

}

@media (max-width: 900px){
  


    
    .wrapper-novedades-1 {
        display: block;
        width: 55%;
        margin: auto;
        text-align: center;
        margin-top: 5%;
      }
      
      
      
      .card-novedades{	
        width: 100%;
        height: 350px;
        left: 0;
        right: 0;
        padding: 2rem 1rem;
        position: relative;
        justify-content: space-between;
        transition: 0.5s all ease-in-out;
        margin: auto;
          
      }

      .card-novedades .info {
        position: relative;
        z-index: 3;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all;
        padding: 10px;
        margin: auto;
        font-size: 12px;
    }

    .card-novedades .info p {
        font-size: 14px;
        letter-spacing: 0.2px;
        margin-bottom: 20px;
    }

}



@media (max-width: 500px){
  /*---------SLIDER--------*/


  .Iam .innerIam {
    margin-top: -8.5%;
  }

  .card-novedades{
    height: 200px;
  }

  .card-novedades .info {
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    padding: 10px;
    margin: auto;
    font-size: 8px;
  }

  .card-novedades .info p {
    font-size: 10px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
}

  .container-btn{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 0;
  }

  .btn{
    width: 100px;
    padding: 0;
  }


  .card-novedades .info .btn {
      background: #fff;
      padding: 0.5rem 0.5rem;
      color: #000;
      font-size: 8px;
      cursor: pointer;
      border-radius: 20px;
      text-decoration: none;
      font-weight: bold;
      transition: .4s ease-in-out;
  }

}